body{
    
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    
}

h1{

    color: #fff;
    align-items: center;
    text-align: center;

}
h2{

    margin-bottom: 20px;
    color: rgb(252, 255, 254);
    background-color: rgb(51, 49, 49);


}

.a{

    color: #cbd7e4;
    text-decoration: none;
    align-items: center;
    text-align: center;


}



.container{
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
}
